# GitHub  (https://github.com/settings/personal-access-tokens)
GITHUB_TOKEN=""

# Jira  (https://id.atlassian.com/manage-profile/security/api-tokens)
JIRA_DOMAIN=""
JIRA_KEY=""
JIRA_SECRET=""

# Monday.com  (https://<your-domain>.monday.com/apps/manage/tokens)
MONDAY_API_TOKEN=""

# Slack
SLACK_WEBHOOK_URL=""
